node_modules
.env
coverage
coverage.json
typechain-types

#Hardhat files
cache
artifacts
abi


# VSCode-Counter
.VSCodeCounter/

**/.DS_Store
**/.DS_Store?

# local test deployments
deployments/localhost

# information 
#info